@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

/*========================== General ==========================*/
body {
    font-family: 'Asap', sans-serif;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background: repeating-linear-gradient( 45deg, #222, #222 10px, #333 10px, #333 20px );
    background-attachment: fixed;
    animation: fadeInAnimation ease .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

h1 {
    padding: 0;
    font-size: 36px;
    color: white;
}

footer {
    margin-top: 25%;
    padding: 10px 20px;
    background: #333;
    color: #666;
    padding-bottom: 2%
}

.footLine {
    background-color: #666;
    height: 1px;
    border: 0;
}
.left {
    display: inline-block
}
.right {
    display: inline-block;
    float: right
}

.midHeader {
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*========================== Menu ==========================*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    list-style-type: none;
    float: left;
    
}
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
    }
.active {
    background-color: #BB0000;
}
    li a:hover {
        background-color: #111;
    }

/*========================== Image ==========================*/
.demoImg {
    object-fit: contain;
    position: relative;
    text-align: center;
}
#designAnno {
    margin-top: 5%;
}
.p1Text {
    position: absolute;
    font-size: 200%;
    color: #e0e0e0;
    top: 10%;
    left: 6%;
}
.hr1Line {
    position: absolute;
    color: #cbcbcb;
    width: 15%;
    top: 15%;
    left: 6%;
}
.p2Text {
    position: absolute;
    font-size: 150%;
    color: #cbcbcb;
    top: 17%;
    left: 6%;
}


/*========================== Task ==========================*/
.task {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #333;
    margin-bottom: 0.5%;
    text-align: center;
    line-height: 2;
}


/*========================== Pain and Gain ==========================*/
.PaG {
    background-color: #333;
}
.liPag {
    margin: 0 0 5% 0;
}
#pain, #gain {
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}
#pain {
    width: 38%;
}
#gain {
    width: 39%;
}


/*========================== Design ==========================*/
.showcase {
    margin-top: 5%;
    position: relative;
    display: block;
    overflow: hidden;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition: .3s ease;
    background-color: #333;
}
#leftOverlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 95%;
}
#rightOverlay {
    top: 0;
    bottom: 0;
    left: 5%;
    right: 0;
    height: 100%;
    width: 95%;
}
.textContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    line-height: 2;
}

.cameraShowcase {
    text-align: center;
    width: 47.5%;
    padding-right: 2.5%;
    float: left;
    transition: transform .3s;
}
    .cameraShowcase:hover .overlay {
        opacity: 0.75;
    }
    .cameraShowcase:hover {
        transform: scale(1.1);
    }
.wheelShowcase {
    text-align: center;
    width: 47.5%;
    padding-left: 2.5%;
    float: left;
    transition: transform .3s;
}
    .wheelShowcase:hover .overlay {
        opacity: 0.75;
    }
    .wheelShowcase:hover {
        transform: scale(1.1);
    }

.designIllus {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    line-height: 2;
}

/*========================== Subscribe ==========================*/
.buisnessPlan {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #333;
    margin-top: 5%;
    margin-bottom: 0.5%;
    text-align: center;
    line-height: 2;
}

.plans {
    margin-top: 5%;
    margin-left: 10%;
}
.plan {
    margin: 5%;
    border: 2px solid white;
    width: 20%;
    padding: 5%;
    margin: auto;
    overflow: hidden;
}
div#planA {
    float: left;
}
.orderNow {
    margin: auto;
    color: white;
    padding: 3%;
    width: 50%;
    text-align: center;
    border: 2px solid #BB0000;
    transition: transform 0.3s;
}
    .orderNow:hover {
        background-color: #BB0000;
        transform: scale(1.1);
    }

/*========================== Support ==========================*/
.noSup {
    margin-top: 2%;
    padding: 5%;
    background-color: #333;
    text-align: center;
}
.okay {
    margin: auto;
    padding: 2%;
    width: 10%;
    background-color: #333;
    border: 2px solid #BB0000;
    transition: 0.3s;
    color: white;
}
    .okay:hover {
        background-color: #BB0000;
    }

/*========================== About ==========================*/
.tMembers {
    margin: 5%;
}
.tMember {
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    text-align: center;
}
.avatar {
    clip-path: circle(60px at center);
    transition: transform .3s;
}
    .avatar:hover {
        transform: scale(1.1);
    } 


/*========================== Life Plan ==========================*/
.lifeSpan {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 10%;
    background-color: #333;
    border: 2px solid #BB0000;
    transition: 0.3s;
    color: white;
}
    .lifeSpan:hover {
        background-color: #BB0000;
    }
